<div class="header">
	<img src={{ "profile.jpg" | absURL }} class="profile_image" >
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-affilation">
		<span class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat">
				<li class="position">{{$key.position}}, {{$key.name}}</li>
				<li class="email">{{ $key.contact}}</li>
			</ul>
			{{- end -}}
			
		</span>
		<!--
      {{- if isset .Site.Params "subtitle" -}}
      <h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
      {{- end -}}
    -->
</div>
